@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"><br><br>
    <h1 class="display-4">Bem-vindo</h1>
    <p>Workshop - ASP.NET Core para Iniciantes.</p>
</div><br><br><br>

<div class="jumbotron">
    <div class="container">
        <h6 class="text-justify">CRUD - Filmes Razor</h6>
                <p class="text-text-justify">
                    Projeto onde é desenvolvido um CRUD para  cadastro de Filmes, orientado por Glaucia Lemos (Créditos).<br>
                    Aplicando os conceitos básicos de uma aplicação com ASP.Net Core desde a instalação das ferramentas necessárias,
                    criação do projeto e instalação das bibliotecas, melhorias no Front-End.
                </p>
           
    </div>
</div>
