@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate hic consequatur, 
omnis aliquam neque sint consectetur amet culpa, laudantium at a ratione fugiat odio 
illum autem magnam! Odio, excepturi mollitia.

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit adipisci alias nisi, doloremque eaque nemo autem itaque, 
neque ex aperiam corporis quo omnis, explicabo mollitia odio obcaecati facilis deleniti iusto.
