@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre Mim";
}
<h1>@ViewData["Sobre Mim"]</h1>

<p  class="frases">"A essência do conhecimento consiste em aplicá-lo, uma vez possuído."<br>
    Confúcio </p>

 <p class="frases">"Feliz aquele que transfere o que sabe e aprende o que ensina."<br>
Cora Coralina</p>

<p class="frases">"Conhecimento parado é conhecimento inutilizado. Coloque em prática tudo o que aprendeu.<br>
Marianna Moreno"</p><br>

<h6 class="text-justify">Sobre Minha Carreira</h6>
<hr>
<p class="text-text-justify">
 Com uma vasta experiência na área de tecnologia, busco sempre estar atualizado com os grandes avanços, desde ferramentas, metodogias entre outros.
 Tendo atuado mais recentemente  como Analista de Sistemas júnior, almejo me tornar um Desenvolverdor onde possa com a bagagem que adquiri nas empresas que atuei, possa agregar e trazer  valores e produtividade, compartilhar conhecimentos e aprender sempre trocando experiências do cotidiano tanto profissional e pessoal e também crescer profissionalmente.

</p>
<hr>
<h6 class="text-justify">Tecnologias</h6>
<p class="text-text-justify">
  HTML5 , CSS3, JS  (Front-end)<br>
  Framework (.Net/.Net Core , Bootstrap)<br>
  C# (Back-End - Linguagens de Programação)<br>
  T-SQL , MySQL, Oracle ( Banco de Dados)<br>
  S.O Linux e Shell Script (Sistema operacional e Linguagem interpretada)<br>
  Cloud e Docker (Em andamento)
</p>
<hr>
<h6 class="text-justify">Adendos</h6>
<p class="text-text-justify">
 ITIL® Foundation<br>
 ISFS - Information Security Foundation based on ISO/IEC 27001 
 Inglês - Técnico
</p>
<h6 class="text-justify">Graduação</h6>
<p class="text-text-justify">
 Tecnólogo em Banco de Dados
</p>
<h6 class="text-justify">Hoobyes</h6>
<p class="text-text-justify">
Família em primeiro Lugar<br>     
Músico (Bateria)<br>
Andar de Bicicleta, Caminhada<br>
Praia, Natureza<br> 
Conhecer pessoas e culturas diferentes<br> 
Livros
</p>