@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Contato"]</h1>

<h5 class="nome">Edmar M. Santos</h5>
<p>Fale  comigo através dos  canais  </p>

<div class="container">
     <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-outline-danger" href="https://www.youtube.com/">Youtube</a>
        <a class="btn btn-outline-primary" href="https://www.linkedin.com/">Linkedin</a>
        <a class="btn btn-outline-info" href="https://github.com/">GitHub</a>
        <a class="btn btn-outline-secondary" href="https://www.instagram.com/">Instagran</a>
        <a class="btn btn-outline-success" href="https://twitter.com">Twitter</a>
        <a class="btn btn-outline-light" href="https://web.telegram.org">Telegram</a>
    </div>
</div>